@charset "UTF-8";
@font-face {
  font-family: "UTM Avo";
  src: url("fonts/utm-avobold.woff") format("woff");
  font-weight: bold; }
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothaProReg.otf") format("otf"); }
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothaProBol.otf") format("otf");
  font-weight: bold; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 22px;
  font-weight: 400;
  font-family: Gotham Pro, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #434b52; }

.box {
  max-width: 1175px;
  margin: 0 auto; }

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.header {
  height: 48px;
  border: 2px solid #acacac;
  background-color: #b1b1b1;
  color: #ffffff; }
  .header-content_margin {
    margin-top: 10px;
    align-items: normal; }
  .header-content__right {
    display: flex; }
    .header-content__right a {
      text-decoration: none;
      color: #ffffff; }
  .header-content__drop-list {
    z-index: 10; }

.drop-list__menu {
  list-style-type: none;
  background-color: #b1b1b1;
  box-shadow: 3px 8px 11px 0 #1d354a; }
.drop-list__link {
  text-decoration: none;
  color: #ffffff;
  padding: 6px; }
  .drop-list__link:hover {
    color: #f7087a; }
.drop-list__summary {
  font-weight: 500;
  border-bottom: 1px solid #ffffff; }
  .drop-list__summary:hover {
    color: #f7087a;
    border-bottom: 1px solid #f7087a; }
  .drop-list__summary:after {
    content: "▼";
    padding-left: 0.7rem;
    font-size: 10px; }

summary {
  display: block; }

summary::-webkit-details-marker {
  display: none; }

details[open] > .drop-list__summary:after {
  content: "▲"; }

.hover:hover {
  color: #f7087a; }

.icon-box {
  margin-left: 1.4rem; }

.icon {
  margin: 0 1.4rem;
  font-size: 20px; }
  .icon:hover {
    color: #f7087a; }
  .icon:last-of-type {
    margin-right: 0; }

.main-header {
  height: 100px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #ffffff; }

.navigation {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }
  .navigation__link {
    text-decoration: none;
    color: #1d354a;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 1.4rem;
    padding-bottom: 37px; }
    .navigation__link:hover {
      border-bottom: 5px solid #f7087a; }
    .navigation__link_active {
      border-bottom: 5px solid #f7087a; }

.button {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f7087a;
  padding: 0.8rem 3.2rem;
  border-radius: 5px; }
  .button:hover {
    background-color: #ffffff;
    color: #f7087a;
    outline: 2px solid #f7087a;
    border-radius: 0; }

.main-header-content_center {
  height: 100%;
  padding: 0 1.8rem;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; }
.main-header-content_right {
  margin-right: 1.7rem;
  position: relative; }

.text-gray {
  color: #bababa;
  font-size: 12px;
  font-weight: 700;
  margin-left: 1.7rem; }

.text-accent {
  color: #f7087a;
  font-family: UTM Avo, sans-serif;
  font-weight: bold;
  font-size: 18px; }

.quantity-goods {
  position: absolute;
  top: -10px;
  left: 20px;
  border-radius: 9px;
  background-color: #f7087a;
  padding: 0 1rem;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700; }

.flex_print-img {
  display: flex;
  justify-content: space-between; }

.print-img {
  height: 804px;
  background-size: cover;
  background-position: center; }
  .print-img__content {
    width: 370px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .print-img__headline {
    color: #9ad7e2;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 25px; }
    .print-img__headline_h3 {
      font-size: 18px; }
  .print-img__details {
    box-shadow: 0 26px 50px rgba(51, 58, 69, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    align-items: normal; }
  .print-img__h4 {
    font-size: 16px;
    font-weight: 600;
    color: #434b52;
    letter-spacing: 0.8px;
    padding: 14px 0 14px 2.5rem; }
  .print-img__drop-list {
    padding-right: 1rem;
    margin-top: 15px; }
  .print-img__summary {
    font-size: 12px;
    font-weight: 400;
    color: #434b52; }
    .print-img__summary:after {
      content: "▼";
      padding-left: 10rem;
      font-size: 10px;
      color: #f7087a; }
  .print-img__menu {
    list-style-type: none; }
  .print-img__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #434b52; }
  .print-img__figure {
    box-shadow: 0 26px 50px rgba(51, 58, 69, 0.1);
    border-radius: 20px;
    background-color: #f7f9f9;
    padding: 37px 2.5rem;
    margin-bottom: 45px; }
  .print-img__button {
    display: flex;
    justify-content: space-between; }

.icon__ok {
  color: #f7087a;
  font-size: 28px;
  position: absolute;
  top: -7px;
  right: -3px;
  display: none; }

.icon__image {
  color: #9ad7e2;
  font-size: 47px;
  position: absolute; }

.icon__arrow {
  color: #9ad7e2;
  font-size: 22px;
  position: relative;
  top: 20px;
  left: 30px; }

details[open] > .print-img__summary:after {
  content: "▲"; }

.format {
  background-color: #cbcbcb;
  opacity: 0.5;
  border-radius: 2px;
  height: 19px; }
  .format__list {
    list-style-type: none;
    margin-bottom: 23px; }
  .format__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 16px 1.5rem 12px;
    position: relative; }
    .format__link h4 {
      opacity: 0.5;
      color: #434b52;
      font-size: 12px;
      letter-spacing: 0.8px; }
  .format_rectangle {
    width: 36px; }
  .format_square {
    width: 20px; }
  .format_panorama {
    width: 48px; }

.figure__figcaption {
  font-size: 16px;
  font-weight: 700;
  margin: 0 2.8rem; }
.figure__text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  font-weight: 500; }

.button-cart {
  display: flex;
  justify-content: space-between; }
  .button-cart__text {
    padding: 0.8rem 2.5rem 0 2.5rem;
    border: 2px solid #ffffff;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.16px; }
    .button-cart__text_small {
      letter-spacing: -0.12px;
      font-size: 12px;
      border: none;
      padding: 0;
      text-transform: none; }
  .button-cart__img {
    padding: 0.5rem;
    border: 2px solid #ffffff;
    border-left-style: none;
    border-radius: 0 5px 5px 0; }

.button__print {
  padding: 0.8rem 2.6rem; }

.canvas {
  width: 429px;
  height: 287px;
  margin-top: 100px;
  box-shadow: 0 13px 30px 7px #000001; }

.action {
  background-color: #9ad7e2; }

.advantages {
  height: 705px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .advantages-list {
    height: 500px;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 100px; }

.article-item {
  display: flex;
  align-items: flex-start;
  width: 384px;
  padding: 58px 2rem;
  margin: 1px;
  background-color: white; }
.article__text {
  padding-left: 1.9rem; }
.article__h4 {
  color: #003351;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
  padding-bottom: 20px; }
.article__p {
  color: #5e7188; }

.examples {
  height: 200px;
  list-style-type: none;
  display: flex; }
  .examples li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .examples li:hover:before {
    display: block; }
  .examples li:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(118, 195, 209, 0.65);
    opacity: 0.92;
    display: none; }
  .examples li:hover .loupe {
    display: flex; }

.loupe {
  position: absolute;
  display: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-content {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: space-around; }

/*# sourceMappingURL=style.css.map */
