<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="sass/style.css">
</head>
<body>
<div class="all" id="app">
    <div class="content">
        <header class="header">
            <div class="container header-flex">
                <div class="header-left">
                    <a class="logo" href="index.html"><img class="img-logo" src="img/logo.png" alt="logo">BRAN <span
                            class="pink-D">D</span></a>
                    <form class="header-form" action="">
                        <details class="Browse-details">
                            <summary class="Browse">Browse</summary>
                            <div class="browse-drop-box">
                                <browse-menu></browse-menu>
                            </div>
                        </details>
                        <search @search="handleSearchClick"></search>
                    </form>
                </div>
                <div class="header-right">
                    <div class="cart-box">
                        <a href="#"><img src="img/cart.svg" class="img-cart" alt="cart"></a>
                        <div class="cart-items">{{totalAmount}}</div>
                        <div class="cart-drop-box">
                            <mini-cart-products :cart="cart" @ondelete="handleDeleteClick"></mini-cart-products>
                            <div class="total">
                                <p class="price-total">TOTAL</p>
                                <p class="price-total">${{total}}</p>
                            </div>
                            <div class="button-cart"><a href="checkout.html" class="button-cart-text">Checkout</a></div>
                            <div class="button-cart"><a href="shopping-cart.html" class="button-cart-text">Go&nbsp;to
                                cart</a></div>
                        </div>
                    </div>

                    <a href="#" class="button" @click.prevent="handleShowModalClick"
                       v-if=" userId === 0">My&nbsp;Account</a>
                    <div v-else-if="userId > 0" class="buttons_account">
                        <a href="#" class="button">{{check}}</a>
                        <div class="account_drop-box">
                            <li><a class="drop-link" href="#" @click.prevent="handleSignOutClick">Sign Out</a></li>
                            <li><a class="drop-link" href="#" @click.prevent="handleChangePasswordClick">Change&nbsp;password</a>
                            </li>
                            <div class="modal" v-if="modalAcc.length">
                                <div class="modal-content">
                                    <a href="#"><i @click.prevent="handleChangePasswordClick"
                                                   class="fas fa-times-circle fas_modal"></i></a>
                                    <main class="modal_main">
                                        <a href="#" class="title"><h2
                                                class="shopping-cart-forms-text modal_title">CHANGE PASSWORD</h2></a>
                                        <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                               placeholder="Сurrent Password" type="password" v-model="currentPassword"
                                               required>
                                        <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                               type="password" placeholder="New Password" required
                                               v-model="newPassword">
                                        <div class="modal-button">
                                            <a href="#" class="button-black shopping-cart-forms-button_size modal_size"
                                               @click.prevent="changePassword">SAVE PASSWORD</a>
                                            <p v-if="changePass.length"
                                               class="trending-now-link modal_text__margin modal_text__color">
                                                {{changePass}}</p>
                                        </div>
                                    </main>
                                </div>
                            </div>
                            <li><a class="drop-link" href="#">Orders</a></li>
                        </div>
                    </div>
                    <div class="modal" v-if="modal.length">
                        <div class="modal-content">
                            <a href="#"><i @click.prevent="handleShowModalClick"
                                           class="fas fa-times-circle fas_modal"></i></a>
                            <main class="modal_main">
                                <div class="titles">
                                    <a href="#" @click="handleSignClick('signIn')" class="title"><h2
                                            class="shopping-cart-forms-text modal_title">SIGN IN</h2></a>
                                    <a href="#" @click="handleSignClick('signUp')" class="title"><h2
                                            class="shopping-cart-forms-text modal_title">SIGN UP</h2></a>
                                </div>
                                <form v-if="sign === 'signIn'">
                                    <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                           placeholder="Login" type="text" v-model="checkLogin" required>
                                    <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                           type="password" placeholder="Password" required v-model="checkPassword">
                                    <div class="modal-button">
                                        <a href="#" class="button-black shopping-cart-forms-button_size modal_size"
                                           @click.prevent="checkUser">SIGN IN</a>
                                        <p v-if="check.length"
                                           class="trending-now-link modal_text__margin modal_text__color">{{check}}</p>
                                    </div>
                                </form>
                                <form v-if="sign === 'signUp'">
                                    <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                           placeholder="Example@gmail.com" type="email" v-model="email" name="email"
                                           required
                                           data-validation-rule="email">
                                    <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                           placeholder="Login" type="text" v-model="login" name="login" required
                                           data-validation-rule="name">
                                    <input class="shopping-cart-forms-input shopping-cart-forms-input_width"
                                           type="password" placeholder="Password" v-model="password" name="password"
                                           required>
                                    <div class="modal-button">
                                        <a href="#" class="button-black shopping-cart-forms-button_size modal_size"
                                           @click="sendUser">SIGN UP</a>
                                        <p v-if="errors.length"
                                           class="trending-now-link modal_text__margin modal_text__color">
                                            <b>Please correct the following error(s):</b>
                                        <ul>
                                            <li v-for="error in errors">{{ error }}</li>
                                        </ul>
                                        </p>
                                        <p v-if="sent.length"
                                           class="trending-now-link modal_text__margin modal_text__color">{{sent}}</p>
                                    </div>
                                </form>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navigation">
            <div class="container">
                <ul class="menu">
                    <li class="menu-list">
                        <a class="menu-link" href="index.html">Home</a>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=men">Man</a>
                        <nav-menu></nav-menu>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=women">Women</a>
                        <nav-menu></nav-menu>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=men">Kids</a>
                        <nav-menu></nav-menu>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=women">Accessories</a>
                        <nav-menu class="drop-box-last"></nav-menu>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=featured">Featured</a>
                        <nav-menu class="drop-box-last"></nav-menu>
                    </li>
                    <li class="menu-list"><a class="menu-link" href="product.html?category=featured">Hot Deals</a>
                        <nav-menu class="drop-box-last"></nav-menu>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="new-arrivals">
            <div class="container new-arrivals-back">
                <h2 class="new-arrivals-text">Shopping Cart</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-link"><a class="mini-menu-link" href="index.html">HOME/</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>

        <div class="shopping-cart-table container">
            <div class="row row-header">
                <div class="col col-1 row-header__col row_first">Product details</div>
                <div class="col row-header__col">unite price</div>
                <div class="col row-header__col">quantity</div>
                <div class="col row-header__col">shipping</div>
                <div class="col row-header__col">subtotal</div>
                <div class="col row-header__col row-header__last">action</div>
            </div>
            <cart-products :cart="cart" @ondelete="handleDeleteClick"
                           @changeinput="handleChangeInputClick"></cart-products>
            <div class="shopping-cart-table-button">
                <a href="#" class="button-black shopping-cart-table-button_size" @click.prevent="clearCart">cLEAR
                    SHOPPING
                    CART </a>
                <a href="checkout.html" class="button-black shopping-cart-table-button_size">cONTINUE sHOPPING </a>
            </div>
        </div>

        <div class="shopping-cart-forms container">
            <div class="shipping-address">
                <h2 class="shopping-cart-forms-text">Shipping Address</h2>
                <select class="shopping-cart-forms-input">
                    <option value="r1" class="shipping-address-link">Bangladesh</option>
                    <option value="r2" class="shipping-address-link">Bangladesh</option>
                    <option value="r3" class="shipping-address-link">Bangladesh</option>
                </select>
                <input class="shopping-cart-forms-input shopping-cart-forms-input_width" placeholder="State">
                <input class="shopping-cart-forms-input shopping-cart-forms-input_width" placeholder="Postcode / Zip">
                <a href="#" class="button-black shopping-cart-forms-button_size">get a&nbsp;quote</a>
            </div>
            <div class="coupon-discount">
                <h2 class="shopping-cart-forms-text">coupon discount</h2>
                <p class="shopping-cart-forms-p">Enter your coupon code if&nbsp;you have one</p>
                <input class="shopping-cart-forms-input shopping-cart-forms-input_width" placeholder="State">
                <a href="#" class="button-black shopping-cart-forms-button_size">Apply coupon</a>
            </div>

            <div class="proceed-to-checkout">
                <div class="proceed-to-checkout-text">
                    <p class="proceed-to-checkout-text-top">Sub total ${{total}}</p>
                    <p class="proceed-to-checkout-text-bottom">GRAND TOTAL <span class="pink">${{total}}</span></p>
                </div>
                <a href="checkout.html" class="button-pink proceed-to-checkout-button_size">proceed to&nbsp;checkout</a>
            </div>

        </div>

        <div class="comments">
            <div class="container comments-back">
                <figure class="comment-left">
                    <img src="img/comment1.png" alt="comment1">
                    <figcaption class="box-comment">
                        <p class="comment-1-text"> &laquo;Vestibulum quis porttitor dui! Quisque viverra nunc mi,a
                            pulvinar
                            purus
                            condimentum&nbsp;a. Aliquam condimentum mattis neque sed pretium&raquo; </p>
                        <p class="pink-comment">Bin Burhan</p>
                        <p class="comment-1">Dhaka, Bd</p>
                    </figcaption>
                </figure>
                <div class="comment-right">
                    <p class="top-text">Subscribe</p>
                    <p>FOR OUR NEWLETTER AND PROMOTION</p>
                    <input class="input-form-email" type="email" placeholder="Enter Your Email">
                    <button class="button-form-email" type="submit">Subscribe</button>


                </div>
            </div>
        </div>

        <footer class="footer-top container">
            <div class="footer-left-text">
                <a class="logo-footer" href="index.html"><img class="img-logo" src="img/logo.png" alt="logo">BRAN <span
                        class="pink-D">D</span></a>
                <p class="footer-text-logo">Objectively transition extensive data rather than cross functional
                    solutions.
                    Monotonectally syndicate multidisciplinary materials before go&nbsp;forward benefits. Intrinsicly
                    syndicate an
                    expanded array of&nbsp;processes and cross-unit partnerships.<br><br><br>
                    Efficiently plagiarize 24/365 action items and focused infomediaries.Distinctively seize superior
                    initiatives for wireless technologies. Dynamically optimize.</p>
            </div>
            <div class="footer-right">
                <div class="footer-menu">
                    <h4 class="footer-pink">COMPANY</h4>
                    <ul class="list-footer">
                        <li><a class="footer-link" href="index.html">Home</a></li>
                        <li><a class="footer-link" href="#">Shop</a></li>
                        <li><a class="footer-link" href="#">About</a></li>
                        <li><a class="footer-link" href="#">How It&nbsp;Works</a></li>
                        <li><a class="footer-link" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h4 class="footer-pink">INFORMATION</h4>
                    <ul class="list-footer">
                        <li><a class="footer-link" href="#">Tearms &amp;&nbsp;Condition</a></li>
                        <li><a class="footer-link" href="#">Privacy Policy</a></li>
                        <li><a class="footer-link" href="#">How to&nbsp;Buy</a></li>
                        <li><a class="footer-link" href="#">How to&nbsp;Sell</a></li>
                        <li><a class="footer-link" href="#">Promotion</a></li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h4 class="footer-pink">SHOP CATEGORY</h4>
                    <ul class="list-footer">
                        <li><a class="footer-link" href="product.html?category=men">Men</a></li>
                        <li><a class="footer-link" href="product.html?category=women">Women</a></li>
                        <li><a class="footer-link" href="product.html?category=men">Child</a></li>
                        <li><a class="footer-link" href="product.html">Apparel</a></li>
                        <li><a class="footer-link" href="product.html">Browse All</a></li>
                    </ul>
                </div>
            </div>

        </footer>
    </div>

    <footer class="footer-bottom">
        <div class="container footer-text">
            <p class="copy"> &copy; 2019 Brand All Rights Reserved.</p>
            <div class="footer-icon">
                <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="icon"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" class="icon"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>