@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, arial, verdana;
}

.container {
    width: 700px;
    margin: 0 auto;
}

/*стили блока для ввода чисел */
.box-userNumbers {
    width: 550px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    color: #2C3E50;
    font-size: 16px;
    line-height: 22px;
}

.userNumbers {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 8px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    width: 70%;
}

.button {
    width: 100px;
    background: #7192b7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #7192b7;
}

/*стили для списков */
.arr {
    border: 1px solid sandybrown;
    border-radius: 3px;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-around;
}

.arr_random {
    background-color: aliceblue;
}

.arr_sort {
    background-color: #fff8dc;
}

/*стили для пунктов списков */
.number {
    list-style-type: none;
    padding: 10px;
}

.number_user {
    border: 1px solid sandybrown;
}

.number_sort {
    border: 1px solid darkolivegreen;
}


/*выделения списка с анимацией */
.red {
    color: white;
    background-color: darkred;
    transition: background 1s;
}

.grey {
    color: white;
    background-color: gray;
    transition: background 2s;
}



#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.active {
    transform: scale(1);
}

#modal-container.active .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active .modal-background .modal h2, #modal-container.active .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active .modal-background .modal .modal-svg rect {
    animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.active.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out .modal-background .modal h2, #modal-container.active.out .modal-background .modal p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.active.out .modal-background .modal .modal-svg rect {
    animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    vertical-align: middle;
}

.modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}

h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #2C3E50;
}

p {
    color: #2C3E50;
    font-size: 16px;
    line-height: 22px;
}

.modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}



@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 778;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}