=size-button($height,$padding-left,$font-size)
  height: $height
  line-height: $height
  padding-left: $padding-left
  padding-right: $padding-left
  font-size: $font-size

=size-button-type2($padding-left,$padding-top,$font-size)
  padding: $padding-top $padding-left
  font-size: $font-size